# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
local_settings.py
media/
.env

# Static files collected by collectstatic
staticfiles/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
